
body{
  background-color: black;
  margin:80px;
}


.name {
    position: relative;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    color: white;
    margin-left: 150px;
   

 }


.catalog {

 	position: relative;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 300px;
   color: white;
    margin-left: 380px;
  z-index: 4;

 }

 .me {
  position: absolute;
  margin-left: 500px;
  margin-right: 500px

  z-index: 0;
}



@keyframes skew {

 0% {
  transform: skewX(-20deg);
  }


 50% {
  transform: skewY(30deg);
 }
 
 100% {
    transform: skewX(-20deg);
  }
}

.me{
  animation: skew 8s ease-in-out infinite;
}

