body {
  
  background-image: url("assets/imgs/DLLo.gif");
}




.name {
    position: relative;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 50px;
    margin-top: 20px;
    color: #77ABFA;
    margin-left: 150px;
   

 }


.catalog {

 	position: relative;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 30px;
    margin-top: 110px;
   color: #77ABFA;
    margin-left: 280px;
  z-index: 4;

 }
