* {
    padding: 0px;
    
}


body {
  background-image: url("gifs/rainbow.gif");

}

.cursor {
  cursor: url(smile.png), auto;
}

.content {
    font-family: verdana, sans-serif;
   margin-left: 200px;
   margin-right: 200px;
    
    font-size: 20px;
    line-height: 1.4;
    color: black;

}





