



* {
    padding: 0px;
    margin: 10px;
    background-color: lightpink;
}


.cursor {
  cursor: url(smile.png), auto;
}

.intro {
	 font-family: verdana, sans-serif;
    text-align:center;
    font-size: 14px;
    line-height: 1.4;
    color: black

}

.content {
	font-family: verdana, sans-serif;
    text-align:center;
    font-size: 30px;
    line-height: 1.8;
    color: black

}





