
body {
  background-color: pink;
  font-family: arial;
  color: red;
  font-size: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


    @keyframes colorSwap {

 0% {
   fill:default;
  }

  100% {
  	fill:#6d79cd;
  }

    }

    @keyframes fade{

    	0% {
   opacity: 1;
  }

  100% {
  	opacity: 0;
  }

    }

    #yin-yang:hover{
    	animation-play-state: paused;
    	cursor:pointer;
    }



img {
	height: 500px;
}



#yin-yang {
  height:500px;
  animation: spin 5s ease-in-out infinite;
}



































