body {
	background-color: #5EC9BB;
	padding: 2vw;
}

.name {
	font-size: 17vw;
	text-transform: uppercase;
	line-height: 13.5vw;
	font-family: arial black;
	margin-bottom: 2vw;
  color: white;
	
}


.time {
	font-size: 3vw;
    font-family: arial;
    animation: font2 1s infinite;
    color: white;



}

.location {
    font-family: arial;
    font-size: 3vw;
    animation: font2 1s infinite;
    color: white;
    

}



@keyframes font2 {
  0% {
    opacity: 1;
  }

50% {
	opacity: 0;
}

  100% {
    opacity: 1;
  }
}

  @keyframes font1 {
  0% {
    transform-style: preserve-3d;
  }

50% {
	
}

  100% {
   
  }


